* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-8 {
  flex: 0 0 0%;
  max-width: 0%; }

.col-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%; }

.col-4, .col-8, .col-12 {
  padding: 10px; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.btn-blue {
  background: #3498db;
  color: #fff; }
  .btn-blue:hover {
    background: #2980b9; }

.btn-red {
  background: #ff3838;
  color: #fff; }
  .btn-red:hover {
    background: #d63031; }

.btn-green {
  background: #e67e22;
  color: #fff; }
  .btn-green:hover {
    background: #d35400; }

.btn-outline-black {
  border: 1px solid gray; }
  .btn-outline-black:hover {
    background: #808080a8; }

.btn-outline-blue {
  border: 1px solid #2980b9; }
  .btn-outline-blue:hover {
    background: #2980b9; }

.btn {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  padding: 10px 15px;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 8px;
  margin: 0 0 12px 0; }

button {
  border: none; }

.btn-block {
  display: block;
  width: 100%;
  cursor: pointer;
  user-select: none;
  padding: 10px 15px;
  line-height: 1.5;
  border-radius: 8px;
  margin: 0 0 12px 0; }

input, select {
  border-radius: 5px;
  border: 1px solid #ced4da;
  line-height: 25px;
  color: #636e72;
  padding: 10px 15px;
  line-height: 1.5; }

form {
  border: 1px solid #ddd;
  width: 100%;
  float: right;
  padding: 10px 15px; }
  form label {
    display: block;
    color: #2d3436;
    text-align: center;
    font-size: 20px; }
  form input {
    display: block; }
  form select {
    display: block;
    color: #636e72; }
  form input, form select {
    width: 100%; }
  form input, form select, form button {
    margin: 10px 0; }

header {
  background: #dcdde1;
  padding: 30px 0; }
  header .container {
    text-align: center; }
    header .container .wrap hr {
      margin: 15px 0; }
    header .container .wrap .main-title {
      font-weight: 500;
      font-size: 55px; }
    header .container .wrap .sub-title {
      font-weight: 300;
      font-size: 17px;
      color: gray; }

.main-content .container .search {
  margin: 15px 0; }
  .main-content .container .search input {
    font-size: 15px; }
  .main-content .container .search .btn {
    margin: 0;
    font-size: 15px;
    border-radius: 0; }
.main-content .container hr {
  margin: 15px 0;
  border-color: #dddddd45; }
.main-content .container .row table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd; }
  .main-content .container .row table tr {
    font-weight: normal; }
    .main-content .container .row table tr th {
      padding: 12px 17px;
      font-weight: 500; }
      .main-content .container .row table tr th .btn {
        border-radius: 0;
        margin: 0; }
    .main-content .container .row table tr:nth-child(even) {
      background: #f1f2f6; }
    .main-content .container .row table tr:first-child th {
      font-weight: bold; }


/*# sourceMappingURL=manage.css.map */
